.Care{
    padding: 4rem 0;
  }
  .Carevideo{
    text-align: left;
  }
  .Care span{
    font-size: 26px;
    font-weight: 500;
    padding: 2rem 0;
  }
  .Care p{
    padding: 2rem 3rem;
    font-size: 22px;
    font-weight: 400;
    color: #B4B4B4;
    text-align: left;
  }
  .carebutton{
    margin-left: 0.5rem;
    border: none;
    background: none;
    font-size: 26px;
    color: #B4B4B4;
  }
  .Careall{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .btn-primary {
   
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color:  transparent;
  border-color:  transparent;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  border-color: transparent;
}
@media (min-width:320px) and (max-width: 767px){
  .Care span{
    font-size: 22px;
    text-align: left;
  }
  .Care p{
    padding-left: 2rem;
    padding-right: 0;
    text-align: justify;
  }
  .Careall{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .pagebutton{
    padding-left: 0 !important;
  }
  .carebutton{
    padding-left: 0;
  }
  .Carevideo{
    width: 100%;
    height: auto;
  }
}