.Footer{
  background:#23212B;
  padding: 4rem 0;
}
.input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #fff;
    width: 16rem;
    padding: 1rem 0;
    color: #fff;
}
.Footer h2{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'lufga';
    padding-bottom: 2rem;
    margin: 0;
}
.Footer h3{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'lufga';
}
.footerlink{
    color:#DD8F9B;
    list-style: none;
    text-align: left;
    padding: 0.5rem 0;
    font-family: 'lufga';
}
.Brandtextfooter{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    font-family: 'lufga';
    margin: 0;
}
.footersecond{
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer span{
    font-size: 14px;
    font-weight: 400;
    color: #C6818D;
    font-family: 'lufga';
}
.Footerleft{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.footerfirst {
    text-align: left;
}
.socialimg{
    padding-right: 1rem;
}

@media (min-width:320px) and (max-width: 767px) {
    .footerfirst {
        text-align: left;
        padding-bottom: 2rem;
    }
    .Brandtextfooter{
        text-align: center;
    }
    .footermob{
        display: flex;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        padding-bottom: 1rem;
    }

    .socialmedia{
        padding: 1rem 0;
    } 
    .Footerleft{
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-direction: column;
             text-align: left;
    }
    .socialimg{
        padding-right: 0.5rem;
    }
}
@media (min-width:768px) and (max-width: 1080px){
    .footerfirst {
        text-align: center;
        padding-bottom: 3rem;
    }
    .Brandtextfooter{
        text-align: center;
    }
}