.navrow{
    align-items: center;
}
.navbar{
    padding-top: 0;
}
.contfluid{
    padding: 0 4rem;
}
.navlink{
    display: flex;
    text-decoration:none ;
    text-align: center;
    padding: 1rem;
}
.link{
    color: #fff;
    margin-right: 1rem;
    font-family: 'lufga';
}
.navbrand{
    background: #23212B;
    width:100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.singup{
    color: #D47C88;
    text-align: right;
    padding: 1.5rem;
    font-family: 'lufga';
}
.Brandtext{
    color: #fff;
    font-size:2rem;
    text-align: left;
    padding: 1.5rem;
    font-family: 'lufga';   
}
.nav-link:focus, .nav-link:hover {
    color: #D47C88;
}
@media (min-width:320px) and (max-width: 767px) {
    .contfluid{
        padding: 0 1rem;
    }
}
@media (min-width:768px) and (max-width: 1080px){
    .navlink{
        display: flex;
        text-decoration:none ;
        text-align: center;
        padding: 1rem;
        justify-content: center;
        font-size: 18px;
    }
    .petcare{
        width: 40%;
    }
}